*{
    box-sizing: border-box;
}

body{
  background-color: #b0ffb5;
}
li {
  list-style-type: none;
}
.contain{
  /* border: 1px black solid; */
  width: 80%;
  height:60em;

  display: grid;
  margin: 0 10%;
  right: 30px;
  /* grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 10em); */
  grid-template: repeat(100, 1fr)/ repeat(100, 1fr);
  /* grid-gap: 5px; */
}
.box{
  background-color: #white;
  color: black;

 border-radius: 5px;
 border: solid grey 3px;
}
.A{
  grid-row: 10/span 15;
  grid-column: 1/span 100;
  border: black 2px solid ;
}
.B{
  grid-row: 25/span 85;
  grid-column: 1/span 25;
  border: black 2px solid ;
}
.C{
  grid-row: 25/span 85;
  grid-column: 26/span 55;
  border: black 2px solid ;
}
.D{
  grid-row: 25/span 85;
  grid-column: 81/span 25;
  border: black 2px solid ;
}
.E{
  grid-row: 100/span 25;
  grid-column: 1/span 100;
  border: black 2px solid ;
}
